{% extends 'base.html.twig' %}

{% block body %}
<section id="actu" class="home-container">
    <div class="card card-presentation">
        <h2>Actualité</h2>
        <button type="button"
            class="add-another-collection-widget actu btn btn-primary"
            data-list-selector="#topic-list">Nouvelle Actu</button>
    {{form_start(formActu)}}
        <ul id="topic-list"
        data-prototype="{{ form_widget(formActu.topic.vars.prototype)|e }}"
        data-widget-tags="{{ '<li></li>'|e }}"
        data-widget-counter="{{ formActu.topic|length }}">
        {% for top in formActu.topic %}
            <li class="mb-1 topic">
                {{ form_errors(top) }}
                {{ form_widget(top.title) }}
                <div class="home-container ">
                <img id="img-pres" src="{{top.vars["value"].illustration}}" alt="">
                {{ form_widget(top.illustration,{
                    attr: {
                        'placeholder': 'choisir une image'
                    }
                }) }}
                </div>
                {{ form_widget(top.content) }}

            </li>
        {% endfor %}
        </ul>
        <button type="submit" class="btn btn-warning">Modifier</button>
        {{form_end(formActu)}}
       
                
    </div>
</section>
{% endblock %}
